<% include ./partials/head.ejs %>

<body>

    <% include ./partials/nav.ejs %>


    <div class="container">

        <div class="intro-wrapper">

            <h2>Lead Generation Management</h2>
            <p>This Lead
                Generation Management tool will allow you to enter business information into a form and save it to a
                database. The business
                information you enter will be stored along with your LGA ID which will be tracked throughout the sales
                process allowing you to be compensated with a commision for every sale made from your leads.</p>

            <p>Your LGA ID is available on page one of your Lead Generation Associate manual. After you click the start
                button you will be prompted to enter your LGA ID. Once you enter your
                ID you will be able to start your session. The collection of leads you generate will be immediately
                available to a Sales Specialist</p>

            <a href="/lgsession/new_session"><button class="start-button">Start</button></a>

        </div>


    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>